@page {
	margin: 1cm;
}

iframe {
	border: 0;
	width: 100%;
	min-height: 480px;
}

.content-panel img {
	border-radius: 1em;
}

@media print {

	* {
		font: 1em/1.5em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		max-width: 100% !important;
		color: black !important;
		border: 0 !important;
		background: none !important;
	}

	code {
		background: inherit;
		border: inherit;
		padding: 0;
	}


	header, footer, nav, iframe, img {
		display: none !important;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript"]:after {
		content: "";
	}

	h1 {
		font-size: 2em;
		margin: 0.67em 0;
	}

	div.main-frame {
		margin: 0;
		padding: 0;
	}

	div.main-pane {
		margin: 0 auto;
	}

	div.content-panel {
		margin: 0;
		padding: 0;
		border: 0;
	}
}